{% extends "base.html" %}

{% block subtitle %}
  Profile
{% endblock subtitle %}

{% block content %}
  <div class="container" ng-controller="Profile">
    <div class="oppia-gallery-frame">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="emailAddress">Email Address</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          {{user_email}}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="username">Username</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          {% if username %}
            {{username}}
          {% else %}
            <em>Not yet selected</em>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="preferredLanguageCode">Preferred Site Language</label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <select id="preferredLanguageCode" class="form-control" ng-model="preferredLanguageCode" ng-change="savePreferredLanguageCode()" ng-options="lc.code as lc.description for lc in ALL_LANGUAGE_CODES">
          </select>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script>
    {{ include_js_file('/profile/Profile.js') }}
  </script>
{% endblock footer_js %}
