{% extends "base.html" %}

{% block subtitle %}
  Home
{% endblock subtitle %}

{% block content %}
  <div class="container">
    <div class="row oppia-splash-image-row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="/images/banner.png" alt="{{BANNER_ALT_TEXT}}" class="oppia-splash-image">
      </div>
    </div>
    <div class="row oppia-splash">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="oppia-align-center">
          <h1>Bite-sized learning journeys, by anyone and for everyone</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Interactive</h3>
        <p class="oppia-splash-page-text">
          Oppia strives to enable learning by doing. Research shows that students
          learn more effectively when they have an opportunity to demonstrate their
          understanding. With Oppia, you can create interactive content that makes
          it easy for students to actively participate in the learning process.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br><br><br>
        <div align="center">
          SCREENSHOT
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br><br><br>
        <div align="center">
          SCREENSHOT
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Adaptive</h3>
        <p class="oppia-splash-page-text">
          Oppia explorations are designed to be non-linear: they can branch based
          on students' answers, resulting in tailored learning paths. It's just like
          any teacher/student conversation: what the teacher does is going to depend
          on what the student says.
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Continuous Improvement</h3>
        <p class="oppia-splash-page-text">
          You can create and publish an exploration in minutes using our online editor,
          get feedback from the community, and improve it continuously over time --
          there’s no need to create an entire <em>magnum opus</em> at the outset!
        </p>

        <p class="oppia-splash-page-text">
          As more and more students play through your exploration, you (or others,
          if you like) can improve the exploration on the fly. For example, you may
          discover common trouble spots that you weren’t aware of when you first
          created the exploration.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br><br><br>
        <div align="center">
          SCREENSHOT
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br><br><br>
        <div align="center">
          IMAGE
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>100% Free</h3>
        <p class="oppia-splash-page-text">
          You don’t have to pay anything to use Oppia. In addition, all explorations
          on {{SITE_NAME}} are licensed under CC-BY-SA, which means that you can
          freely copy, modify and reuse their content.
        </p>

        <p class="oppia-splash-page-text">
          The code behind {{SITE_NAME}} is open source, and you are also welcome to
          download, reuse and modify it to your heart’s content! We have an active
          developer community and are happy to mentor new contributors, so if you’d
          like to help out, check out our
          <a href="https://code.google.com/p/oppia/wiki/Contributing">Contributing</a>
          page to get started -- there’s plenty to do!
        </p>
      </div>
    </div>

    <div class="row oppia-splash">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a class="btn btn-primary btn-lg" href="/learn">View Gallery</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a class="btn btn-primary btn-lg" href="/contribute">Create Exploration</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script src="/scripts/oppia-player-0.0.1.js"></script>
{% endblock footer_js %}
