<style>
  .item-selection-container {
    margin-top: -6px;
  }
</style>

<script type="text/ng-template" id="interaction/ItemSelectionInput">
    <form gridster class="item-selection-container" ng-submit="selectAnswer(answer)">
        <button gridster-item="selection" ng-repeat="selection in selections track by $index"
        type="checkbox" class="btn btn-default" ng-model="default"
        style="margin: 5px 0; text-align: left; white-space: normal; max-width: 350px;">
          <span angular-html-bind="choice"></span>
        </button>
    </form>
</script>

<script type="text/ng-template" id="response/ItemSelectionInput">
  <span angular-html-bind="response"></span>
</script>
