<style>
  .multiple-choice-form-container {
    margin-top: -6px;
  }
</style>

<script type="text/ng-template" id="interaction/ItemSelectionInput">
    <form gridster class="multiple-choice-form-container" ng-submit="submitAnswer(answer)">
        <button gridster-item="choice" ng-repeat="choice in choices track by $index"
        type="button" class="btn btn-default" ng-click="submitAnswer($index)"
        style="margin: 5px 0; text-align: left; white-space: normal; max-width: 350px;">
          <span angular-html-bind="choice"></span>
        </button>
    </form>
</script>

<script type="text/ng-template" id="response/ItemSelectionInput">
  <span angular-html-bind="response"></span>
</script>
